:root {
  --background: #ffffff;
  --primary-title-dark: rgb(34, 34, 34);
  --primary-title-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: var(--primary-title-white);
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  background: rgb(90, 255, 111);
  background: linear-gradient(0deg, rgba(90, 255, 111, 1) 0%, rgba(221, 250, 255, 1) 11%);
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
