.container {
  position: relative;
  height: 360px;
  width: 985px;
  /* background-image: url("../../images/background/left-section-double-window1.webp"); */
  margin: 0 auto;
  padding: 36px 0 0 30px;
  /* outline: solid #555555; */
}

.container > h2 {
  position: absolute;
  top: 26px;
  right: 188px;
  color: var(--primary-title-white);
  font-weight: 700;
  font-size: 18px;
}

.article {
  padding: 10px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  color: var(--primary-title-dark);
}

.cat {
  position: absolute;
  top: 157px;
  left: 599px;
}

.hl {
  position: absolute;
  top: 175px;
  left: 597px;
  width: 141px;
  height: 19px;
}
.hr {
  position: absolute;
  top: 175px;
  left: 765px;
  width: 146px;
  height: 20px;
}

.v {
  position: absolute;
  top: 158px;
  left: 736px;
  width: 28px;
  height: 147px;
}

.hardSkills {
  width: 213px;
}
.hardSkills li {
  display: flex;
  align-items: center;
}

.lastList > li:last-child {
  align-items: baseline;
}
.hardSkills > p {
  text-align: center;
  margin-bottom: 10px;
}

.hardSkills > p:nth-child(3) {
  margin-top: 11px;
}

.iconTools {
  width: 8px;
  height: 8px;
  margin-right: 7px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 1420px;
    width: 100%;
    padding: 62px 0 0 76px;
  }

  .article {
    width: 600px;
    font-size: 29px;
    display: block;
  }

  .container > h2 {
    top: 13px;
    left: 298px;
    font-size: 30px;
  }

  .hardSkills {
    width: 100%;
  }

  .hardSkills > p {
    margin-top: 11px;
  }

  .cat {
    top: 1143px;
    left: 145px;
    width: 428px;
    height: 198px;
  }

  .hl {
    top: 1167px;
    left: 143px;
    width: 194px;
    height: 26px;
  }

  .hr {
    top: 1167px;
    left: 374px;
    width: 202px;
    height: 28px;
  }

  .v {
    top: 1144px;
    left: 334px;
    width: 39px;
    height: 203px;
  }
}
