.container {
  position: relative;
  height: 386px;
  width: 978px;
  background-image: url("../../images/background/left-section.webp");
  margin: 0 auto;
  padding: 95px 340px 20px 50px;
}

.articleWrapper {
  width: 100%;
  height: 100%;
  background-color: #94312ce0;
  filter: blur(15px);
}

.article {
  position: absolute;
  padding-right: 350px;
  top: 120px;
  left: 80px;
}

.cat {
  position: absolute;
  top: 177px;
  left: 60px;
  /* z-index: 0; */
}
