.container {
  position: relative;
  height: 386px;
  width: 978px;
  background-image: url("../../images/background/left-section-double-window1.webp");
  margin: 0 auto;
  padding: 122px 499px 10px 54px;
}

.container > h2 {
  position: absolute;
  top: 100px;
  right: 205px;
  color: var(--primary-title-dark);
  font-weight: 700;
  font-size: 18px;
}

.articleWrapper {
  width: 100%;
  height: 100%;
  background-color: #94312ce0;
  filter: blur(15px);
}

.article {
  position: absolute;
  padding: 10px;
  width: 450px;
  top: 112px;
  left: 53px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.cat {
  position: absolute;
  top: 207px;
  left: 572px;
  /* z-index: 0; */
}

.h {
  position: absolute;
  top: 253px;
  left: 571px;
}

.v {
  position: absolute;
  top: 180px;
  left: 720px;
}

.hardSkills {
  width: 213px;
}
.hardSkills li {
  display: flex;
  align-items: center;
}

.lastList > li:last-child {
  align-items: baseline;
}
.hardSkills > p {
  margin-bottom: 10px;
}

.hardSkills > p:nth-child(3) {
  margin-top: 11px;
}

.iconTools {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}
