.container {
  position: relative;
  height: 322px;
  width: 952px;
  background-image: url("../../images/background/first-section.webp");
  margin: 0 auto;
  padding: 83px 27px 51px 317px;
  z-index: 10;
}

.container > h2 {
  position: absolute;
  top: 37px;
  left: 107px;
  color: var(--primary-title-dark);
  font-weight: 700;
  font-size: 18px;
}

.article {
  position: absolute;
  top: 37px;
  left: 367px;
  padding: 10px;
  width: 495px;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.cat {
  position: absolute;
  top: 177px;
  left: 60px;
  /* z-index: 0; */
}
