.container {
  position: relative;
  height: 190px;
  width: 1040px;
  /* background-image: url("../../images/background/header.webp"); */
  margin: 0 auto;
  padding: 130px 0 0;
  color: var(--primary-title-dark);
  /* outline: solid #800e0b; */
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
}

.list > li {
  cursor: pointer;
}

.list > li:hover {
  color: #be4949;
}

.bird {
  position: absolute;
  top: 0px;
  left: 895px;
}

.toTopBtn {
  display: inline-block;
  background-color: #d58c72;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 100px;
  left: 100px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 2;
}
.toTopBtn::after {
  content: "\25B2";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.toTopBtn:hover {
  cursor: pointer;
  background-color: #be4949;
}
.toTopBtn:active {
  background-color: #555;
}
.toTopBtn.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

/* .downloadBtn {
  position: absolute;
  top: 56px;
  left: 112px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  animation: typing 4s steps(12) infinite;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.downloadBtn:hover {
  animation: blink 0.3s infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  55%,
  65%,
  75% {
    color: #fe0000;
  }
  60%,
  70% {
    color: #fe0000;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  25%,
  75% {
    color: transparent;
  }
  40%,
  60% {
    color: #fff;
  }
} */

/* .downloadBtn {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 56px;
  left: 106px;
  font-size: 20px;
  font-weight: 700;
  animation: blur 1s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
} */

/* 
@keyframes blink {
  25%,
  75% {
    color: transparent;
  }
  40%,
  60% {
    color: #fff;
  }
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
    0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
    0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
    0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
} */

.downloadBtnWrapper {
  /* background-color: #2c0101; */
  position: absolute;
  color: rgb(255, 255, 255);
  top: 56px;
  left: 106px;
  font-size: 20px;
  font-weight: 700;
}
.downloadBtn {
  margin: 1rem auto;
  animation: neon 1.5s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #ffffffa8, 0 0 20px #ffffffa8, 0 0 20px #ffffffa8, 0 0 20px #ffffffa8, 0 0 2px #ffffff,
      2px 2px 2px #ffffff;
    color: #ff0000;
  }
  50% {
    text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b,
      4px 4px 2px #40340a;
    color: #ffffff;
  }
}

.downloadBtn:hover {
  animation: blur 0.7s infinite;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 210px;
    width: 100%;
    padding: 135px 0 0;
  }

  .bird {
    /* width: 130px;
    height: 85px; */
    top: 8px;
    left: 562px;
  }

  .downloadBtnWrapper {
    top: 55px;
    left: 121px;
    font-size: 32px;
  }

  .nav {
    width: 90%;
    margin: 0 auto;
  }

  .list {
    font-size: 34px;
  }

  .toTopBtn {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    bottom: 70px;
    left: auto;
    right: 70px;
  }

  .toTopBtn::after {
    font-size: 2.5em;
    line-height: 70px;
  }
}
