.container {
  /* position: sticky;
  top: -100px; */
  z-index: 1;
  height: 254px;
  width: 1040px;
  background-image: url("../../images/background/header.webp");
  margin: 0 auto;
  padding: 150px 0 0;
  color: var(--primary-title-dark);
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
