.container {
  /* position: sticky;
  top: -100px; */
  position: relative;
  /* z-index: 1; */
  height: 254px;
  width: 1040px;
  background-image: url("../../images/background/header.webp");
  margin: 0 auto;
  padding: 150px 0 0;
  color: var(--primary-title-dark);
}

.downloadBtn {
  position: absolute;
  top: 13px;
  left: 104px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(198, 0, 0);
  animation: typing 4s steps(12) infinite;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.downloadBtn:hover {
  animation: blink 0.3s infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  55%,
  65%,
  75% {
    opacity: 1;
  }
  60%,
  70% {
    opacity: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  25%,
  75% {
    color: transparent;
  }
  40%,
  60% {
    color: #fff;
  }
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
}

.bird {
  position: absolute;
  top: -1px;
  left: 895px;

  /* z-index: 2; */
}
