.container {
  position: relative;
  height: 507px;
  width: 1280px;
  /* background-image: url("../../images/background/footer1.webp"); */
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 auto;
  padding: 119px 726px 380px 325px;
  text-align: center;
  color: var(--primary-title-dark);
}

.mouse {
  position: absolute;
  top: 146px;
  left: 604px;
}

.dog {
  position: absolute;
  top: 108px;
  left: 560px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 707px;
    width: 100%;
    padding: 275px 354px 1px 4px;
    font-size: 30px;
    color: var(--primary-title-white);
  }

  .dog {
    top: 304px;
    left: 1px;
    height: 384px;
    width: 767px;
  }

  .mouse {
    top: 231px;
    left: -22px;
  }
}
