.container {
  position: relative;
  height: 370px;
  width: 985px;
  /* background-image: url("../../images/background/right-section.webp"); */
  margin: 0 auto;
  padding: 30px 87px 20px 340px;
  display: flex;
  justify-content: end;
  /* outline: solid #9263ff; */
}

.container > h2 {
  position: absolute;
  top: 35px;
  left: 119px;
  color: var(--primary-title-white);
  font-weight: 700;
  font-size: 18px;
}

.article {
  padding: 10px;
  width: 464px;
  height: 290px;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.imgContainer {
  display: block;
  position: relative;
  overflow: hidden;
  width: 217px;
  height: 130px;
  transition: transform 250ms ease-in-out, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.galleryContainer > a {
  display: flex;
}

.imgTitle {
  padding: 10px;
  padding-left: 10px;
  pointer-events: none;
  display: inline;
  position: absolute;
  visibility: hidden;
  background: rgba(37, 37, 37, 0.773);
  color: white;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  top: 0;
  opacity: 0;
}
.imgContainer:hover .imgTitle {
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
}

.img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cat {
  position: absolute;
  top: 254px;
  left: 123px;
  width: 164px;
  height: 113px;
  z-index: 1;
}
.test {
  position: fixed;
}

@media screen and (max-width: 768px) {
  .container {
    height: 1024px;
    width: 100%;
    padding: 62px 83px 1px 74px;
    justify-content: center;
  }

  .container > h2 {
    top: 15px;
    left: 285px;
    font-size: 30px;
  }

  .article {
    width: 600px;
    height: 372px;
  }

  .imgContainer {
    width: 285px;
    height: 171px;
  }
  .cat {
    top: 843px;
    left: 336px;
    width: 250px;
    height: 170px;
  }
}
