.container {
  position: relative;
  height: 386px;
  width: 978px;
  background-image: url("../../images/background/right-section.webp");
  margin: 0 auto;
  padding: 95px 50px 20px 340px;
}

.container > h2 {
  position: absolute;
  top: 101px;
  left: 113px;
  color: var(--primary-title-dark);
  font-weight: 700;
  font-size: 18px;
}

.article {
  position: absolute;
  top: 67px;
  left: 379px;
  padding: 10px;
  width: 505px;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.imgContainer {
  /* width: 49.4%; */
  /* max-height: 415px; */
  display: block;
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 144px;
  transition: transform 250ms ease-in-out, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.galleryContainer > a {
  display: flex;
}

.imgTitle {
  padding: 10px;
  padding-left: 10px;
  pointer-events: none;
  display: inline;
  position: absolute;
  visibility: hidden;
  /* left: 1px; */
  background: rgba(67, 9, 9, 0.773);
  /* font-size: 20px; */
  color: white;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  top: 0;
  opacity: 0;
}
.imgContainer:hover .imgTitle {
  visibility: visible;
  transition: 0.5s;
  /* -webkit-transition: 0.5s; */
  opacity: 1;
  /* transform: translatey(-160px);
  -webkit-transform: translatey(-160px); */
}
.img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cat {
  position: absolute;
  top: 303px;
  left: 56px;
  width: 164px;
  height: 113px;
  z-index: 1;
}
.test {
  position: fixed;
}
